* {
  font-family: Arial, Helvetica, sans-serif
}

@font-face {
  font-family: pixelFont;
  src: url(/images/ice_pixel-7.ttf);
}

body {
  background:url(/images/background.jpg);
  background-size:cover;
}

main {
  display: inline-block;
  margin-left:260px;
  margin-bottom:1px;
}

aside {
  display: inline-block;
  vertical-align: top;
}

h1 {
  font-size: 70px;
  font-family: pixelFont;
  display: inline-block;
  vertical-align: top;
  margin-left:268px;
  margin-top:5px;
  margin-bottom:0px;
  color: #fbfbff;
}

p {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#contentContainer {
  width: 1000px;
  Margin-left: auto;
  Margin-right: auto;
  background-image:url(/images/content_background.png);
  background-size: 1000px 655px;
}

#contentContainerAside {
  width: 1000px;
  height:75px;
  background-color: #000000;
}

#contentContainerFooter {
  width: 1000px;
  height:20px;
  color: #ffffff;
  background-color: #000000;
}

#copyRight {
  font-family:pixelFont;
  font-size:30px;
}

#playerTypes {
  margin-left:183px;
}

.typeButtons{
  width: 75px;
  height: 35px;
}

#newGame {
  width: 150px;
  height: 68px;
}

#gameBoard {
  width: 480px;
  height: 450px;
}

.gridSquare {
  width: @gridSquareWidth;
  height: @gridSquareHeight;
  margin:1px;
  outline: 2px solid;
  background:url(/images/8bitSprite.png) 0 0 no-repeat;
  background-size: 500px,150px;
  overflow: hidden;
  display:inline-block;
  position: relative;

  &.imageDisplay1 {
    background-position: -157px 0;
  }

  &.imageDisplay2 {
    background-position: -316px 0;
  }
};

.changePlayer1 {
  background:url(/images/8bitSprite.png);
  background-size: 600px, 150px;
  margin:6px;
  width: 210px;
  height: 160px;

  &.playerTypeImagerandom{
    background-position: -157px 0;
  }

  &.playerTypeImagepre-trained{
    background-position: -316px 0;
  }
};

.changePlayer2 {
  background:url(/images/8bitSprite.png);
  background-size: 600px, 150px;
  margin:6px;
  width: 210px;
  height: 160px;

  &.playerTypeImagerandom{
    background-position: -157px 0;
  }

  &.playerTypeImagepre-trained{
    background-position: -316px 0;
  }
};