* {
  font-family: Arial, Helvetica, sans-serif
}

@font-face {
  font-family: pixelFont;
  src: url(/images/ice_pixel-7.ttf);
}

body {
  background:url(/images/background.jpg);
  background-size:cover;
}

main {
  display: inline-block;
  margin-bottom:1px;
}

aside {
  display: inline-block;
  vertical-align: top;
}

h1 {
  font-size: 70px;
  font-family: pixelFont;
  display: inline-block;
  vertical-align: top;
  margin-left:268px;
  margin-top:5px;
  margin-bottom:0px;
  color: #fbfbff;
}

p {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#contentContainer {
  width: 1000px;
  Margin-left: auto;
  Margin-right: auto;
  background-image:url(/images/content_background.png);
  background-size: 1000px 655px;
}

#contentContainerAside {
  width: 1000px;
  height:200px;
  background-color: #000000;
}

#contentContainerFooter {
  width: 1000px;
  height:20px;
  color: #ffffff;
  background-color: #000000;
}

#winner1 {
  height:155px;
  width:155px;
  position:absolute;
  bottom:155px;
  margin-left:20px;
  visibility: hidden;
}

#winner2 {
  height:155px;
  width:155px;
  position:absolute;
  bottom:155px;
  margin-left:825px;
  visibility: hidden;
}

#player1Draw {
  height:140px;
  width:140px;
  position:absolute;
  bottom:155px;
  margin-left:30px;
  visibility: hidden;
}

#player2Draw {
  height:140px;
  width:140px;
  position:absolute;
  bottom:155px;
  margin-left:835px;
  visibility: hidden;
}

#copyRight {
  font-family:pixelFont;
  font-size:30px;
}

#newGame {
  width: 453px;
  height: 100px;
  margin-left:83px;
  margin-top:20px;
  display:inline-block;
  vertical-align: top;
}

#gameBoard {
  width: 480px;
  height: 450px;
  margin-left:260px;
}

.gridSquare {
  background:url(/images/8bitSprite.png) 0 0 no-repeat;
  width: @gridSquareWidth;
  height: @gridSquareHeight;
  margin:1px;
  outline: 2px solid;
  background-size: 500px,150px;
  overflow: hidden;
  display:inline-block;
  position: relative;

  &.imageDisplay1 {
    background-position: -157px 0;
  }

  &.imageDisplay2 {
    background-position: -316px 0;
  }
};

.changePlayer1 {
  background:url(/images/PlayerTypeSprite.png);
  background-size: 600px, 175px;
  width: 175px;
  height: 175px;
  overflow: hidden;
  display:inline-block;
  position: relative;

  &.playerTypeImagerandom{
    background-position: -190px 0;
  }

  &.playerTypeImagepre-trained{
    background-position: -400px 0;
  }
};

.changePlayer2 {
  background:url(/images/PlayerTypeSprite.png);
  background-size: 600px, 175px;
  width: 175px;
  height: 175px;
  overflow: hidden;
  display:inline-block;
  position: relative;
  margin-left:90px;

  &.playerTypeImagerandom{
    background-position: -190px 0;
  }

  &.playerTypeImagepre-trained{
    background-position: -400px 0;
  }
};