<!DOCTYPE html>
<html ng-app="noughtsAndCrossesApp">
<head>
    <title>Noughts and Crosses</title>
    <script src="angular/angular.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.min.css">
</head>

<body ng-controller="NoughtsAndCrossesController">
<div id="contentContainer">

    <header>
        <div>
            <h1>ARCADE SIMULATOR</h1>
        </div>
    </header>
    <div>
        <aside class="winnerSidebar">
            <img src="/images/Winner1.png" alt="winner" class="endGameDisplay game1Won ng-class:{'show':gameModel.is1Won()}" >
            <img src="/images/Draw.gif" alt="Draw" class="endGameDisplay gameDrawn ng-class:{'show':gameModel.isDrawn()}">
        </aside>
        <main class="gameBoard">
            <div>

                <game-square number="0"></game-square>
                <game-square number="1"></game-square>
                <game-square number="2"></game-square>
                <game-square number="3"></game-square>
                <game-square number="4"></game-square>
                <game-square number="5"></game-square>
                <game-square number="6"></game-square>
                <game-square number="7"></game-square>
                <game-square number="8"></game-square>
            </div>
        </main>
        <aside class="winnerSidebar">
            <img src="/images/Winner2.png" alt="winner" class="endGameDisplay game2Won ng-class:{'show':gameModel.is2Won()}" >
            <img src="/images/Draw.gif" alt="Draw" class="endGameDisplay gameDrawn ng-class:{'show':gameModel.isDrawn()}">
        </aside>
    </div>
    <div class="newGameContainer">
        <div class="playerTypeSelectorContainer">
            <img src="/images/Blank.png" ng-click="changePlayerType1()" class="changePlayer changePlayer1 playerTypeImage{{gameModel.player1}}">
        </div>

        <div class="newGameButtonContainer">
            <button class="newGameButton" ng-click="startNewGame()">Start new game</button>
        </div>

        <div class="playerTypeSelectorContainer">
            <img src="/images/Blank.png" ng-click="changePlayerType2()" class="changePlayer changePlayer2 playerTypeImage{{gameModel.player2}}">
        </div>
    </div>

    <footer>
        <div>
            <p id="copyRight">Adam Dixon</p>
        </div>
    </footer>

</div>
<script src="scripts/built.js"></script>

</body>
</html>